
<head>
    <style>
        table{
            width: 50%;
            height: 50%;
            margin-left: auto; 
            margin-right: auto;
            
        }

        th{
            background-color: blueviolet;
        }

        td{
            border: 1px solid #444444;
            border-collapse: collapse;
        }

    </style>
</head>

<body>
<br>
<div >
    <table>
        <tr>
            <th colspan="2"><h1>My Profile</h1></th>
        </tr>
        <tr style="height: 10px;"></tr>
        <tr>
            <td>이름</td>
            <td>안태연</td>
        </tr>
        <tr>
            <td>학교</td>
            <td>동덕여자대학교</td>
        </tr>
        <tr>
            <td>학과</td>
            <td>컴퓨터학과</td>
        </tr>
        <tr>
            <td>자기소개</td>
            <td>안녕하세요. 안태연입니다.<br></td>
        </tr>
    </table>
</div>
</body>